<!DOCTYPE html>
<html>
<head>
  <title>ComicCollector</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="/polymer.min.js"></script>
  <link rel="import" href="/components/cb-list-item.html">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
